# Estructuras iterativas: bucles acotados `for_in`

<hr>

A través de los bucles, podemos hacer que una instrucción o secuencia de instrucciones se repitan (un número determinado o no) de veces. La instrucción básica es `while`.

Sintaxis:

`for <<variable>> in <<secuencia>>:
     <<cuerpo del bucle>>`

#### Bucles `for_in` con listas

In [3]:
def nota_media(lista_de_notas):
    """
    Calcula la media de una lista de notas numéricas
    
    Parameters
    ----------
    notas : [float]
        Lista de notas, no vacía
        
    Returns
    -------
    float
        Media de las notas
        
    Example
    -------
    >>> nota_media([5, 6, 9, 10])
    7.5
    """
    suma = 0.0
    for nota in lista_de_notas:
        suma = suma + nota
    return suma / len(lista_de_notas)

nota_media([4.5, 6, 5]), nota_media([4, 6, 5, 7, 5, 6, 8]), nota_media([5, 6, 9, 10])

(5.166666666666667, 5.857142857142857, 7.5)

In [5]:
def nombres_cortos(lista_de_nombres, n):
    """
    La función filtra una lista_de_nombres,
    devolviendo únicamente los de longitud menor o igual que n.
    
    Parameters
    ----------
    lista_de_nombres : [string]
        Lista of strings
    n : int
        Longitud máxima
    
    Returns
    -------
    [string] 
        Lista de los nombres de lista_de_nombres con long <= n
        
    Example
    -------
    >>> nombres_cortos(['Ana', 'Marta', 'Patricia', 'Alba', 'Silvia', 'Gloria', 'Lara'], 3)
    ['Ana']
    """
    n_cortos = []
    for nombre in lista_de_nombres:
        if len(nombre) <= n:
            n_cortos.append(nombre)
    return n_cortos

lista = ['Ana', 'Marta', 'Patricia', 'Alba', 'Silvia', 'Gloria', 'Lara']
nombres_cortos(lista, 5), nombres_cortos(lista, 3)

(['Ana', 'Marta', 'Alba', 'Lara'], ['Ana'])

#### La función `range()`

La función `range()` genera rangos, algo muy parecido a listaslistas de forma muy flexible. Una manera muy frecuente de hacer bucles `for_in` es generando la lista que hace de secuencia con la función `range()`. Veamos algunos detalles sobre esta función `range()`.

In [ ]:
#### La función `range()`

La función `range()` genera rangos, algo muy parecido a listaslistas de forma muy flexible. Una manera muy frecuente de hacer bucles `for_in` es generando la lista que hace de secuencia con la función `range()`. Veamos algunos detalles sobre esta función `range()`.

In [3]:
range(10)

range(0, 10)

In [4]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
list(range(3, 12))

[3, 4, 5, 6, 7, 8, 9, 10, 11]

In [6]:
list(range(5, 60, 5))

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55]

In [7]:
list(range(10, 2))

[]

In [8]:
list(range(10, 2, -1))

[10, 9, 8, 7, 6, 5, 4, 3]

In [9]:
a=6
b=10
list(range(a-1, (b*2)-3))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

#### Bucles `for_in` para listas generadas con `range()`

In [10]:
def random_list(n):
    """
    Returns a list of n random integer between 0 and 100.
    
    Parameters
    ----------
    n : int
        Lenght of the resulting list of random integers
        n >= 0
        
    Returns
    -------
    [int]
        List of random integers between 0 and 100 with length n
        
    Example
    -------
    >>> random_list(3)
    [1, 88, 31]
    """
    import random
    result = []
    for x in range(n):
        result.append(random.randint(0, 100))
    return result

In [11]:
random_list(3), random_list(5)

([5, 82, 37], [77, 16, 97, 32, 94])

In [12]:
def random_list(n, minimum, maximum):
    """
    Returns a list of n random integers between minimum and maximum.
    
    Parameters
    ----------
    n : int
        Number of random integers n>=0
    minimum : int
        Minimum value of the generated random numbers
    maximum : int
        Maximum value of the generated random numbers
        minimum <= maximum
        
    Returns
    -------
    [int]
        List of n random numbers between minimum and maximum
        
    Example
    -------
    >>> random_list(3,1,5)
    [2, 4, 4]
    """
    import random
    result = []
    for x in range(n):
        result.append(random.randint(minimum, maximum))
    return result

In [13]:
random_list(3,1,5), random_list(5,0,1000)

([5, 4, 2], [131, 437, 118, 532, 965])

In [17]:
def multiple_7_and_5(n):
    """
    Returns the list of positive numbers below n that are, at the same time,
    multiple of 7 and 5.
    
    Parameters
    ----------
    n : int
        Right limit
        
    Returns
    -------
    [int]
        List of numbers below n that are multiple of 7 and 5
        
    Example
    -------
    >>> multiple_7_and_5(100)
    [0, 35, 70]
    """
    result = []
    for x in range(n):
        if (x % 5 == 0) and (x % 7 == 0):
            result.append(x)
    return result

In [18]:
multiple_7_and_5(100)

[0, 35, 70]

Si no nos gusta que aparezca el 0, podemos hacer que el rango comience en 1.

In [19]:
def multiple_7_and_5(n):
    """
    Returns the list of numbers in [1..n) that are, at the same time,
    multiple of 7 and 5.
    
    Parameters
    ----------
    n : int
        Right limit
        
    Returns
    -------
    [int]
        List of numbers in [1..n) that are multiple of 7 and 5
        
    Example
    -------
    >>> multiple_7_and_5(100)
    [35, 70]
    """
    result = []
    for x in range(1, n):
        if (x % 5 == 0) and (x % 7 == 0):
            result.append(x)
    return result

In [20]:
multiple_7_and_5(100)

[35, 70]

Pero ... no es una forma muy eficaz, hay muchos números de los que podemos fácilmente *'librarnos'*

In [21]:
def multiple_7_and_5(n):
    """
    Returns the list of numbers in [1..n) that are, at the same time,
    multiple of 7 and 5.
    
    Parameters
    ----------
    n : int
        Right limit
        
    Returns
    -------
    [int]
        List of numbers in [1..n) that are multiple of 7 and 5
        
    Example
    -------
    >>> multiple_7_and_5(100)
    [35, 70]
    """
    result = []
    for x in range(7, n, 7):
        if x % 5 == 0:
            result.append(x)
    return result

In [22]:
multiple_7_and_5(100)

[35, 70]

In [23]:
def reverse(initial_list):
    """
    Returns a list with the elements of initial_list reversed, 
    that is, the first element of initial_list would be the last element, 
    the second element of initial_list would be the second to last...
    
    Parameters
    ----------
    initial_list : list 
        Original list
        
    Returns
    -------
    list
        Reversed list
        
    Example
    -------
    >>> reverse([1,2,3,4])
    [4, 3, 2, 1]
    """
    result = []
    start = len(initial_list)-1
    end = -1
    for i in range(start, end, -1):
        result.append(initial_list[i])
    return result

In [24]:
reverse([1,2,3,4]), reverse(["hola","buenas","tardes"])

([4, 3, 2, 1], ['tardes', 'buenas', 'hola'])

#### Bucles `for_in` en strings

In [26]:
for c in 'hola':
    print(c, end='')

hola

In [29]:
for c in 'Buenas Tardes Ángel':
    print(c.lower(), ord(c.lower()), c.upper(), ord(c.upper()))

b 98 B 66
u 117 U 85
e 101 E 69
n 110 N 78
a 97 A 65
s 115 S 83
  32   32
t 116 T 84
a 97 A 65
r 114 R 82
d 100 D 68
e 101 E 69
s 115 S 83
  32   32
á 225 Á 193
n 110 N 78
g 103 G 71
e 101 E 69
l 108 L 76

In [30]:
for c in 'buenas tardes':
    print('{0}\t{1}\t{2}\t{3}'.format(c.lower(), ord(c.lower()), c.upper() ,ord(c.upper())))

b	98	B	66
u	117	U	85
e	101	E	69
n	110	N	78
a	97	A	65
s	115	S	83
 	32	 	32
t	116	T	84
a	97	A	65
r	114	R	82
d	100	D	68
e	101	E	69
s	115	S	83

In [31]:
def letter_count(letter, word):
    """
    Counts the occurrences of letter in word.
    
    Parameters
    ----------
    letter : string
        Letter to count the occurrences
    word : string
        Word
        
    Result
    ------
    int
        Number of ocurrences of letter in word
        
    Example
    -------
    >>> letter_count('o', 'pelirrojo')
    2
    """
    cont = 0
    for char in word:
        if char == letter:
            cont = cont + 1
    return cont

In [32]:
letter_count('o', 'pelirrojo')

2

In [33]:
letter_count('j', 'pelirrojo')

1

In [34]:
letter_count('a', 'pelirrojo')

0

In [35]:
letter_count('J', 'pelirrojo')

0

In [36]:
def letter_count(letter, word):
    """
    Counts the occurrences of letter in word. This function is not case sensitive, that
    is letter_count('A', 'Ana') = 2 and letter_count('a', 'ANA') = 2.
    
    Parameters
    ----------
    letter : string
        Letter to count the occurrences
    word : string
        Word
        
    Result
    ------
    int
        Number of ocurrences of letter in word, ignoring case
        
    Example
    -------
    >>> letter_count('L', 'pelirrojo')
    1
    """
    cont = 0
    for char in word:
        if char.upper() == letter.upper():
            cont = cont + 1
    return cont

In [37]:
letter_count('j', 'Pelirrojo')

1

In [38]:
letter_count('J', 'Pelirrojo')

1

In [34]:
letter_count('p', 'Pelirrojo')

1